.form {
  display: flex;
  justify-content: space-between;
  color: $white;
  font-size: 0.81rem;
  line-height: 1;

  &__col {
    width: 49%;
  }

  &__row {
    display: flex;
    margin-bottom: 1.12rem;

    &--radio {
      margin-bottom: 1.375rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    flex: 1;
    margin-right: 1.25rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__label-title {
    display: block;
    margin-bottom: 0.5rem;
  }

  &__input {
    width: 100%;
    border: 0.1rem solid transparent;
    font-size: 0.875rem;
    border-radius: 0.31rem;
    padding: 0.56rem 1.18rem;
    outline: none;
    

    &:focus {
      border-color: $yellow;
    }
  }

  &__input-textarea {
    resize: none;
    min-height: 6.87rem;
    padding: 0.75rem 0.62rem;
  }

  &__radio {
    display: flex;
    align-items: center;
    margin-right: 1.18rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-fake {
    height: 1rem;
    width: 1rem;
    background-color: $white;
    border-radius: 50%;
    position: relative;

    &::after {
      content: '';
      display: inline-block;
      opacity: 0;
      height: 0;
      width: 0;
      border-radius: 50%;
      background-color:  $red;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity .2s;
    }
  }

  &__radio-input:checked + &__radio-fake::after {
    opacity: 1;
    height: 0.5rem;
    width: 0.5rem;
  }

  &__buttons-text {
    vertical-align: middle;
    margin-left: 0.5rem;
    letter-spacing: 0.4px;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    margin-top: 0.37rem;
  }

  &__checkbox-input {
    display: none;
  }

  &__checkbox-fake {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background-color: $white;
    position: relative;
    transition: border .4s;

    &::after {
      content: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAJCAYAAADkZNYtAAAAnklEQVQYlYXPoaoCQBCF4U8RbFar0SqCgqjpVsGX8DkEH0NN+go2i5gMYrjtwg0Gm0UxGCyysAurQQ8MzJ755zBbOA3rvmiKFjqlL+AoVtBf8QPYiKlJxwRvsMgG1egl/aIXztijGd01ltihEr07+qEJyZcsYRbBWuZ1cU3wD7ZxUEY7Awc4pEe6OSyc3z44xio3EvyIif+4YY7Jyyqem+kZ+o6TdKoAAAAASUVORK5CYII=');
      display: inline-block;
      opacity: 0;
      height: 0;
      width: 0;
      position: absolute;
      top: 10%;
      left: 17%;
      transform: translate(-50%, -50%);
    }
  }

  &__checkbox-input:checked + &__checkbox-fake::after {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .form {
    flex-direction: column;
    max-width: 29.5rem;

    &__col {
      width: auto;
      margin-bottom: 1.25rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__row--checkbox {
      margin-bottom: 2.5rem;
    }

    &__label {
      margin-right: 1.5rem;
    }

    &__checkbox-fake::after {
      top: 16%;
      left: 14%;
      transform: translate(-50%, -50%);
    }
  }
}

@media (max-width: 480px) {
  .form {
    &__label {
      margin-right: 0.625rem;

      &--floor {
        display: none;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2.375rem;
    }

    &__row--radio {
      margin-bottom: 1.875rem;
    }
  }
}