@media (max-width: 768px) {
  .hamburger {
    position: fixed;
    top: 2.8125rem;
    right: 0.9375rem;
    z-index: 2;
  
    width: 1.5rem;
    height: 0.25rem;
    background: $white;
    border-radius: 3px;
  
    &::after, &::before {
      content: "";
      display: block;
      width: 1.5rem;
      height: 0.25rem;
      background: $white;
      position: absolute;
      border-radius: 0.125rem;
  
    }
  
    &::after {
      top: 100%;
      margin-top: 0.3125rem;
    }
  
    &::before {
      bottom: 100%;
      margin-bottom: 0.3125rem;
    }
  }
}